apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://shared_prometheus:9090
    isDefault: true
    editable: false
    uid: prometheus

  - name: Loki
    type: loki
    access: proxy
    url: http://shared_loki:3100
    isDefault: false
    editable: false
    uid: loki
